<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body class="container">

<header>
    <%- include('header'); %>
</header>

<main>


    <div class="jumbotron">
        <h2> Contacts </h2>
        <br>
        <strong>Contact Number: </strong>987654210
        <br>
        <strong>Alternate Number: </strong>9078545690
        <br>
        <strong>Email: </strong>info@car_rental.com
        <br>
    </div>

    <div class="jumbotron">
        <h2> For Mass Bookings </h2>
        <br>
        <strong>Contact: </strong>7865426787
        <br>
        <strong>Email: </strong>mass_book@car_rental.com
        <br>
    </div>

</main>

<footer>
    <%- include('footer'); %>
</footer>

</body>
</html>