<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body class="container">

<header>
    <%- include('header'); %>
</header>

<main>


    <div class="jumbotron">
        <h1> <%= headline %> </h1>

        <form action= "bookcar" method="POST">
            <input type="submit">
        </form>
    </div>
</main>

<footer>
    <%- include('footer'); %>
</footer>

</body>
</html>